<!DOCTYPE html>
<html>
  <head>
    <title>PxProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="shortcut icon" href="<%= image_url('icon.png') %>", type="image/x-icon">

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.background = "<%= image_url('newbackground.jpg') %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
